@import url('https://fonts.googleapis.com/css2?family=Honk&family=Workbench&display=swap');

#left_header {
	border: 0.4vh solid black;
	background-color: #772ce8;
	width: 3.5%;
	height: 3.5vw;
	margin-bottom: 2vh;
	float: left;
	z-index: 2;
	display: block;
}

#header {
 border: 0.4vh solid black;
 	border-left: none;
	width: 95.3%;
	height: 3.5vw;
	background-color: #772ce8;
	margin-bottom: 2vh;
	float: left;
	z-index: 3;
	display: block;
}

#main {
	color: #772ce8;
	background-color: #c8c8d0;
	width: 100vw;
	margin-top: 0vh;
	margin-bottom: 3vh;
	float: left;
	z-index: 1;
	display: block;
}


.logo {
	font-size: 3vh;
	font-family: 'Honk', system-ui;
	text-align: center;
}
